.home {
    width: 100%;
    width: 100%;
    height: calc(100vh - 100px);
    /* Background */
    left: 0px;
    top: 100px;
    background: url("../public/background.svg");
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}
