.navbar {
    background-color: #6a6a6a;
    position: absolute;
    width: 1920px;
    height: 100px;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
